/.vscode
/api_key.dat
/cache.json
/example_gui.py
/__pycache__
cache/profile_icon/7.png
cache/profile_icon/23.png
cache/profile_icon/3553.png
cache/profile_icon/3798.png
cache/profile_icon/4655.png
cache/profile_icon/4832.png
cache/profile_icon/4881.png
image/ranked-emblems/Emblem_Bronze.png
image/ranked-emblems/Emblem_Challenger.png
image/ranked-emblems/Emblem_Diamond.png
image/ranked-emblems/Emblem_Gold.png
image/ranked-emblems/Emblem_Grandmaster.png
image/ranked-emblems/Emblem_Iron.png
image/ranked-emblems/Emblem_Master.png
image/ranked-emblems/Emblem_Platinum.png
image/ranked-emblems/Emblem_Silver.png
